<div class="control-panel">
    <button class="record-btn start-btn" (click)="recordBtnClicked()"  [ngClass]="{'disabled': isRecordStarted}">Start Record</button>
    <button class="record-btn stop-btn" (click)="stopRecordBtnClicked()" [ngClass]="{'disabled': !isRecordStarted}">Stop Record</button>
    <select class="select-dropdown"  [(ngModel)]="selectedRecord">
      <option *ngFor="let option of recordsName" [value]="option">{{ option }}</option>
    </select>
    <button class="play-btn" (click)="playButtonClicked()">Play</button>
    <button class="download-btn" (click)="test()">Download</button>
  </div>