
<div class="control-panel">
    <div class="harmonicaSubSection">
      <h1 class="sectionTitle">Record:</h1>
      <div class = "doubleButtonSection">
        <button mat-button class="instrument-button instrument-button-piano" (click)="onSelectRecordInstrumentClicked('PIANO')"  [ngClass]="{'selected': isPianoSelectedRecord}">
          <mat-icon>piano</mat-icon>Piano
        </button>
        <button mat-button class="instrument-button instrument-button-harmo" (click)="onSelectRecordInstrumentClicked('HARMONICA')" [ngClass]="{'selected': isHarmoSelectedRecord}">
          <mat-icon>wb_iridescent</mat-icon>Harmonica
        </button>
        <button mat-button class="instrument-button instrument-button-voix" (click)="onSelectRecordInstrumentClicked('VOICE')"  [ngClass]="{'selected': isVoiceSelectedRecord}">
          <mat-icon>mic</mat-icon>Mic
        </button>
      </div>
      <div class = "doubleButtonSection">
        <button mat-fab  class="my-mat-btn" (click)="recordBtnClicked()"  [ngClass]="{'recordStarted': isRecordStarted}"><mat-icon>fiber_smart_record</mat-icon></button>
        <button mat-fab class="my-mat-btn" (click)="stopRecordBtnClicked()"  [disabled]="!isRecordStarted"><mat-icon>stop</mat-icon></button>
        <button mat-fab class="my-mat-btn" (click)="cancelRecordBtnClicked()"  [disabled]="!isRecordStarted"><mat-icon>cancel</mat-icon></button>
      </div>
    </div>

    <div class="harmonicaSubSection">
      <h1 class="sectionTitle">Player:</h1>
      <div class = "doubleButtonSection">
        <button mat-button class="instrument-button instrument-button-piano" (click)="onSelectPlayInstrumentClicked('PIANO')"  [ngClass]="{'selected': isPianoSelectedPlay}">
          <mat-icon>piano</mat-icon>Piano
        </button>
        <button mat-button class="instrument-button instrument-button-harmo" (click)="onSelectPlayInstrumentClicked('HARMONICA')" [ngClass]="{'selected': isHarmoSelectedPlay}">
          <mat-icon>wb_iridescent</mat-icon>Harmonica
        </button>
      </div>
      
      <select class="select-dropdown"  [(ngModel)]="selectedRecord">
        <option *ngFor="let option of recordsName" [value]="option">{{ option }}</option>
      </select>
      <div class = "doubleButtonSection">
        <button mat-fab class="my-mat-btn" (click)="playButtonClicked()" [disabled]="isPlayingStarted">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-fab class="my-mat-btn" (click)="pauseButtonClicked()" [disabled]="!isPlayingStarted">
          <mat-icon>pause</mat-icon>
        </button>
        <button mat-fab class="my-mat-btn" (click)="stopPlayButtonClicked()" [disabled]="!isPlayingStarted">
          <mat-icon>stop</mat-icon>
        </button>
        <button mat-fab class="my-mat-btn" (click)="deleteButtonClicked()" [disabled]="isPlayingStarted">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="harmonicaSubSection">
      <h1 class="sectionTitle">Harmonica:</h1>
      <select class="select-dropdown"  [(ngModel)]="selectedTonality " (change)="onSelectTonality()" (wheel)="onWheelTonality($event)">
        <option *ngFor="let option of tonalities" [value]="option">{{ option }}</option>
      </select>
      <label  class="checkBox">
        Show notes on piano
        <input type="checkbox" [(ngModel)]="isChecked" (change)="viewHarmonicaNotesInPianoKeys()">
      </label>
    </div>


</div>